@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'manrope';  /* Define the name you'll use for the font */
    src: url('./assets/fonts/Manrope-VariableFont_wght.ttf')
  }

  .custom-gradient {
    background: linear-gradient(180deg,rgba(20, 20, 20, 1),rgba(20, 20, 20, 0));
    /* Adjust the angle and color stops as needed */
  }
  .custom-gradient-bottom{
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%);
  }
  .custom-gradient-bottom-catgories{
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 101.79%);
  }
  .custom-gradient-devide-bg{
    background: linear-gradient(222deg, rgba(229, 0, 0, 0.50) -208.03%, rgba(229, 0, 0, 0.00) 41.32%), #0F0F0F;
  }
  .bg-line{
    background: linear-gradient(90deg, rgba(229, 0, 0, 0.00) 0%, #E50000 16.67%, rgba(229, 0, 0, 0.00) 100%);
  }
  .swiper-slide {
    width: 296px !important;
    height: 343px; 
  }
 
  
  
.arrows{
  width: 90px !important;
  display: flex;
  justify-content: center;
  gap:1px
}
.swiper-pagination-bullet {

    width: 16px !important;
    height: 4px !important;
    background-color:#333333 !important;
    border-radius: 12px!important;
  }
  
.swiper-pagination-bullet-active {
    
    width: 23px !important;
    height: 4px !important;
    background-color:#E50000 !important;
    border-radius: 12px !important;
  }

 .hero-slider .swiper-slide {
  width: 100% !important;
  height: 835px; 
}

.genres_arrows_1,.genres_arrows_2,.genres_arrows_3{
  width: 90px !important;
  display: flex;
  justify-content: center;
  gap:1px
}
.arrows_trend_1,.arrows_trend_2,.arrows_trend_3{
  width: 90px !important;
  display: flex;
  justify-content: center;
  gap:1px
}
.genres-slider .swiper-slide{
    width: 275px !important;
    height: 342px;
}

.genrestop10_arrows_1,.genrestop10_arrows_2,.genrestop10_arrows_3{
  width: 90px !important;
  display: flex;
  justify-content: center;
  gap:1px
}

.genrestop10-slider .swiper-slide{
    width:auto !important;
    height: auto !important;
}
.movie-trend .swiper-slide{
  width: auto !important;
  height: auto !important;
}

.genrestop10_arrows_1 .swiper-pagination-bullet {

  width: 16px !important;
  height: 4px !important;
  background-color:#333333 !important;
  border-radius: 12px!important;
}

.genrestop10_arrows_1 .swiper-pagination-bullet-active {
  
  width: 23px !important;
  height: 4px !important;
  background-color:#E50000 !important;
  border-radius: 12px !important;
}

.genrestop10_arrows_2 .swiper-pagination-bullet {

  width: 16px !important;
  height: 4px !important;
  background-color:#333333 !important;
  border-radius: 12px!important;
}

.genrestop10_arrows_2 .swiper-pagination-bullet-active {
  
  width: 23px !important;
  height: 4px !important;
  background-color:#E50000 !important;
  border-radius: 12px !important;
}
.genres_arrows_1 .swiper-pagination-bullet,.genres_arrows_2 .swiper-pagination-bullet{
  width: 16px !important;
  height: 4px !important;
  background-color:#333333 !important;
  border-radius: 12px!important;
  
}
.arrows_trend_1 .swiper-pagination-bullet,.arrows_trend_2 .swiper-pagination-bullet{
  width: 16px !important;
  height: 4px !important;
  background-color:#333333 !important;
  border-radius: 12px!important;
}
.arrows_trend_1 .swiper-pagination-bullet-active,.arrows_trend_2 .swiper-pagination-bullet-active{
  width: 23px !important;
  height: 4px !important;
  background-color:#E50000 !important;
  border-radius: 12px !important;
}
.genres_arrows_1 .swiper-pagination-bullet-active,.genres_arrows_2 .swiper-pagination-bullet-active{
  
  width: 23px !important;
  height: 4px !important;
  background-color:#E50000 !important;
  border-radius: 12px !important;
}
/*  */
.dot_newreleased_1, .dot_newreleased_2{
  width: 90px !important;
  display: flex;
  justify-content: center;
  gap:1px
}
 
.dot_newreleased .swiper-pagination-bullet{
  width: 16px !important;
  height: 4px !important;
  background-color:#333333 !important;
  border-radius: 12px!important;
}

.dot_newreleased .swiper-pagination-bullet-active{
  width: 23px !important;
  height: 4px !important;
  background-color:#E50000 !important;
  border-radius: 12px !important;
}
/*  */
.dot_mustwatch_1,.dot_mustwatch_2,.dot_mustwatch_3  {
  width: 90px !important;
  display: flex;
  justify-content: center;
  gap:1px
}
 
.dot_mustwatch_1 .swiper-pagination-bullet,.dot_mustwatch_2 .swiper-pagination-bullet{
  width: 16px !important;
  height: 4px !important;
  background-color:#333333 !important;
  border-radius: 12px!important;
}

.dot_mustwatch_1 .swiper-pagination-bullet-active ,.dot_mustwatch_2 .swiper-pagination-bullet-active{
  width: 23px !important;
  height: 4px !important;
  background-color:#E50000 !important;
  border-radius: 12px !important;
}

.movie-must-watch .swiper-slide{
  width: 356px !important;
  height: 500px;
}
/*  */
.trends .swiper-slide{
  width: 362px !important;
  height: auto !important;
}
.dot_trendshow_1 .swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  background-color:#333333 !important;
  border-radius: 12px!important;
}
.dot_trendshow_1 .swiper-pagination-bullet-active{
  width: 23px !important;
  height: 4px !important;
  background-color:#E50000 !important;
  border-radius: 12px !important;
}
.dot_trendshow_1 {
  width: 90px !important;
  display: flex;
  justify-content: center;
  gap:1px
}
/*  */
.newshows .swiper-slide{
  width: 362px !important;
  height: auto !important;
}
.dot_newshow_1 .swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  background-color:#333333 !important;
  border-radius: 12px!important;
}
.dot_newshow_1 .swiper-pagination-bullet-active{
  width: 23px !important;
  height: 4px !important;
  background-color:#E50000 !important;
  border-radius: 12px !important;
}
.dot_newshow_1 {
  width: 90px !important;
  display: flex;
  justify-content: center;
  gap:1px
}
/*  */

.CastSwiper .swiper-slide{
  width: fit-content !important;
  height: fit-content !important;
  margin: 0 12px 0 0px !important;
}
.CastSwiper .swiper-pagination{
  display: none!important;
}
.CastSwiper{
  margin-left: 10px !important;
  margin-right: 10px !important;
}
/**/

.slide-review{
  width: 471px !important;
  
  margin: 0 12px 0 0px  !important;
}
.review_indicator .swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  background-color:#333333 !important;
  border-radius: 12px!important;
}
.review_indicator .swiper-pagination-bullet-active{
  width: 23px !important;
  height: 4px !important;
  background-color:#E50000 !important;
  border-radius: 12px !important;
}
.review_indicator {
  width: 90px !important;
  display: flex;
  justify-content: center;
  gap:1px
}

@media screen and (max-width: 1439px) {
  .swiper-pagination-bullet {
    width: 14px !important;
    height: 4px !important;
    background-color: #333333 !important;
    border-radius: 12px !important;
  }

  .swiper-pagination-bullet-active {
    width: 18px !important;
    height: 4px !important;
    background-color: #E50000 !important;
    border-radius: 12px !important;
  }

  .swiper-slide {
    width: 240px !important; 
    height: 282px;
  }
  .slide-review{
    width: 377px !important;
    margin: 0 12px 0 0px  !important;
  }
}
@media screen and (max-width: 780px) {
  .swiper-pagination-bullet {
    width: 14px !important;
    height: 4px !important;
    background-color: #333333 !important;
    border-radius: 12px !important;
  }

  .swiper-pagination-bullet-active {
    width: 18px !important;
    height: 4px !important;
    background-color: #E50000 !important;
    border-radius: 12px !important;
  }

  .swiper-slide {
    width: 190px !important; 
    height: 201px;
  }
  .arrows{
    width: 90px !important;
    display: flex;
    justify-content: flex-start;
   

  }
  .genres_arrows_3,
  .genrestop10_arrows_3,
  .arrows_trend_3 ,
  .dot_newreleased_2,
  .dot_mustwatch_3{
      margin:  0 !important;
      gap:0 !important
  }
  .genres_arrows_3 .swiper-pagination-bullet,
  .genrestop10_arrows_3 .swiper-pagination-bullet,
  .arrows_trend_3 .swiper-pagination-bullet,
  .dot_newreleased_2 .swiper-pagination-bullet,
  .dot_mustwatch_3 .swiper-pagination-bullet{
    margin: 0 !important;
  }
  
  .hero-slider .swiper-slide{
    height: 468px !important;
  }
  .slide-review{
    width: 280px !important;
    margin: 0 12px 0 0px  !important;
  }
}


 